tmp/
components/
managed_components/
build/
build-esp32s3-custom/
dist/
.vscode/
.devcontainer/
sdkconfig.old
sdkconfig
sd-card-test-esp32s3-n16r8/
sd-card-test-esp32s3-n16r8-idf/
dependencies.lock
.env
releases/
main/assets/lang_config.h
main/mmap_generate_emoji.h
.DS_Store
.cache
*.pyc
*.bin
mmap_generate_*.h
.clangd
